<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Delivery Location</ion-title>
    <ion-icon name="cart-outline" slot="end" class="icon"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-card">
    <ion-grid *ngIf="newAuthService.userData as user">
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <ion-img [src]="user.photoURL"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="6">
          <h1>{{ user.displayName ? user.displayName : "User" }}</h1>
          <p>{{ user.phoneNumber }}</p>
        </ion-col>
        <ion-col size="3">
          <h5>Edit Profile</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card *ngIf="newAuthService.userData as user">
    <ion-card-content>
      <ion-card-subtitle>Name</ion-card-subtitle>
      <ion-card-title>{{ user.displayName }}</ion-card-title>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Email</ion-card-subtitle>
      <ion-card-title>{{ user.email }}</ion-card-title>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>PhoneNumber</ion-card-subtitle>
      <ion-card-title>{{ user.phoneNumber }}</ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
