<ion-header>
  <ion-toolbar color="warn">
    <ion-title>Login</ion-title>
    <ion-buttons slot="start" routerLink="/dashboard">
      Skip
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center
        >Please provide your Mobile number to Login/Sign Up on
        Store2Door</ion-card-title
      >
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <h2 slot="start">+91</h2>
        <ion-input
          type="number"
          placeholder="Mobile Number"
          ion-border-color="white"
        ></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-buttons>
        <ion-button> 
          <h2>NEXT</h2>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
