<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
    <ion-buttons slot="primary" routerLink="/dashboard">
      <ion-button>Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center
        >Please provide your Mobile number to Login/Sign Up on
        Store2Door</ion-card-title
      >
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-input
            name="email"
            type="email"
            placeholder="email"
            formControlName="email"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="password"
            type="password"
            placeholder="password"
            formControlName="password"
            required
          ></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button color="danger" class="center">
        <h2>NEXT</h2>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button color="danger" class="center" routerLink="/register">
        <h2>Login with Facebook</h2>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button color="danger" class="center" routerLink="/register">
        <h2>Twitter</h2>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button color="danger" class="center" routerLink="/register">
        <h2>Login with Google</h2>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button color="danger" class="center" routerLink="/register">
        <h2>Login with LinkedIn</h2>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
