<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center
        >Please provide your Mobile number to Login/Sign Up on
        Store2Door</ion-card-title
      >
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-input
            name="email"
            type="email"
            placeholder="email"
            formControlName="email"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="password"
            type="password"
            placeholder="password"
            formControlName="password"
            required
          ></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button color="danger" class="center" (click)="login()">
        <h2 text-capitalize>LOGIN</h2>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button color="danger" class="center" routerLink="/auth/register">
        <h2 text-capitalize>Or register a new one</h2>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
