<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Create your Account</ion-card-title>
    </ion-card-header>
  </ion-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input
            name="email"
            type="email"
            placeholder="email"
            formControlName="email"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            name="password"
            type="password"
            placeholder="password"
            formControlName="password"
            required
          ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-button
          color="danger"
          class="center"
          type="submit"
          [disabled]="form.invalid"
        >
          <h2 text-capitalize>Register</h2>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
  <ion-card>
    <ion-card-content>
      <ion-button color="danger" class="center" (click)="mobfb.facebookLogin()">
        <h2 text-capitalize>SignUp with Facebook</h2>
        <ion-icon name="logo-facebook" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button color="danger" class="center" (click)="twitter.TwitterAuth()">
        <h2 text-capitalize>SignUp with Twitter</h2>
        <ion-icon name="logo-twitter" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button
        color="danger"
        class="center"
        (click)="mobgoogleservice.submit()"
      >
        <h2 text-capitalize>SignUp with Google</h2>
        <ion-icon name="logo-google" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
