<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar translucent>
        <ion-avatar>
          <img src="./assets/user.jpeg" />
        </ion-avatar>
        <ion-title>Hey John Smith</ion-title>
        <ion-icon name="chevron-forward-outline" slot="primary"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" margin>
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <ion-icon name="location"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  <ion-label>Your Location:</ion-label>
                  <ion-label>Jaipur</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" color="danger" margin>
            <ion-grid>
              <ion-row>
                <ion-col size="4" routerLink="/myorders">
                  <ion-icon name="train-outline"></ion-icon>
                  <ion-label>My Order</ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-icon name="card-outline"></ion-icon>
                  <ion-label>My Card</ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-icon name="location-outline"></ion-icon>
                  <ion-label>My Address</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/dashboard">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/category">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label>Shop by Category</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/offer">
            <ion-icon name="card-outline" slot="start"></ion-icon>
            <ion-label>Offer Zone</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item lines="none">
          <ion-label>Others</ion-label>
        </ion-item>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="presentAlert()">
            <ion-icon name="star-half-outline" slot="start"></ion-icon>
            <ion-label>Rate Us</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/needHelp">
            <ion-icon name="share-social-outline" slot="start"></ion-icon>
            <ion-label>Share</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/needHelp">
            <ion-icon name="help-circle-outline" slot="start"></ion-icon>
            <ion-label>Need Help</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/aboutUs">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>About Us</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/login">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
