<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item  routerLink="/dashboard">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label> </ion-item
      ><ion-item routerLink="/items">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>Shop by Category</ion-label> </ion-item
      ><ion-item  routerLink="/offer">
        <ion-icon name="card-outline" slot="start"></ion-icon>
        <ion-label>Offer Zone</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Others</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon name="star-half-outline" slot="start"></ion-icon>
        <ion-label>Rate Us</ion-label>
      </ion-item>
      <ion-item routerLink="/needHelp">
        <ion-icon name="share-social-outline" slot="start"></ion-icon>
        <ion-label>Share</ion-label>
      </ion-item>
      <ion-item routerLink="/needHelp">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>Need Help</ion-label>
      </ion-item>
      <ion-item routerLink="/aboutUs">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>About Us</ion-label>
      </ion-item>
      <ion-item routerLink="/login">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Log Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>About Us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Store2Door v 1.0.1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum." Section
          1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
          dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
          quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
          exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
          ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
          ea voluptate velit esse quam nihil molestiae consequatur, vel illum
          qui dolorem eum fugiat quo voluptas nulla pariatur?"
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
