<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/dashboard">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label> </ion-item
      ><ion-item routerLink="/category">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>Shop by Category</ion-label> </ion-item
      ><ion-item routerLink="/offer">
        <ion-icon name="card-outline" slot="start"></ion-icon>
        <ion-label>Offer Zone</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Others</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="star-half-outline" slot="start"></ion-icon>
        <ion-label>Rate Us</ion-label>
      </ion-item>
      <ion-item routerLink="/needHelp">
        <ion-icon name="share-social-outline" slot="start"></ion-icon>
        <ion-label>Share</ion-label>
      </ion-item>
      <ion-item routerLink="/needHelp">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>Need Help</ion-label>
      </ion-item>
      <ion-item routerLink="/aboutUs">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>About Us</ion-label>
      </ion-item>
      <ion-item routerLink="/login">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Log Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Offer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <ion-content fullscreen>
      <ion-card *ngFor="let card of cards">
        <img [src]="card.image" />
        <ion-card-header>
          <ion-card-title>{{ card.title }}</ion-card-title>
          <ion-card-subtitle>{{ card.subtitle }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>Code:</ion-col>
              <ion-col>{{ card.code }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>Min Order Value:</ion-col>
              <ion-col>{{ card.amount }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-content>
</div>
